# Penguins

Penguins are cool!

1. [Import Libraries](#1.-Import-Libraries)
2. [Load Data](#2.-Load-Data)
3. [EDA](#3.-EDA)
4. [Data Preprocessing](#4.-Data-Preprocessing)
5. [ML](#5.-ML)
   
   ...
7. [Compare Models](#6.-Compare-Models)
8. [Conclusion](#7.-Conclusion)

### 1. Import Libraries
[Back to Top](#Penguins) <br>

In [1]:
# # run this cell only once to install any packages we might not have yet, comment after the first run
# ! pip install jupyternotify
# %load_ext jupyternotify
# ! pip install pandas
# ! pip install matplotlib
# ! pip install seaborn

In [2]:
import numpy as np

import pandas as pd
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3

import matplotlib.pyplot as plt
plt.rcParams['figure.dpi'] = 300
plt.rcParams["axes.spines.right"] = False
plt.rcParams["axes.spines.top"] = False
plt.rcParams["figure.figsize"] = (4.5, 3.5)

import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### 2. Load Data
[Back to Top](#Penguins) <br>

In [3]:
# # run this cell only once to download the data, comment after the first run
# ! kaggle datasets list -s 'penguin'
# ! kaggle datasets download -d 'samybaladram/palmers-penguin-dataset-extended'
# ! unzip 'palmers-penguin-dataset-extended.zip' -d data/
# ! rm 'palmers-penguin-dataset-extended.zip'

### 3. EDA
[Back to Top](#Penguins) <br>

In [4]:
df = pd.read_csv('data/palmerpenguins_original.csv')
df.head(20)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [6]:
df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']].describe().round(1)

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count           342.0          342.0              342.0        342.0
mean             43.9           17.2              200.9       4201.8
std               5.5            2.0               14.1        802.0
min              32.1           13.1              172.0       2700.0
25%              39.2           15.6              190.0       3550.0
50%              44.4           17.3              197.0       4050.0
75%              48.5           18.7              213.0       4750.0
max              59.6           21.5              231.0       6300.0

In [7]:
# Frequency Table
df[['species', 'island', 'sex']].value_counts().reset_index(name='count')

     species     island     sex  count
0     Gentoo     Biscoe    male     61
1     Gentoo     Biscoe  female     58
2  Chinstrap      Dream  female     34
3  Chinstrap      Dream    male     34
4     Adelie      Dream    male     28
5     Adelie      Dream  female     27
6     Adelie  Torgersen  female     24
7     Adelie  Torgersen    male     23
8     Adelie     Biscoe    male     22
9     Adelie     Biscoe  female     22

### 4. Data Preprocessing
[Back to Top](#Penguins) <br>

### 5. ML
[Back to Top](#Penguins) <br>

### 6. Compare Models
[Back to Top](#Penguins) <br>

### 7. Conclusion
[Back to Top](#Penguins) <br>